.post {
    width: 50%;
    margin: auto;
    border: 1px solid;
    border-color: var(--border-color);
    padding: 15px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.reply {
    margin-top: 20px;
}

.author, .handle, .date {
    padding-left: 10px;
}

.author {
    font-size: 1.5em;
}

.date {
    font-size: 0.9em;
    display: inline-block;
}

.postico {
    vertical-align: middle;
    border-radius: 64px;
}   

.postoptions {
    width: 18px;
    height: auto;
    float: right;
    margin-top: 30px;
    margin-right: 16px;
    border-radius: 0px;
    
    cursor: pointer;
}

.menuOptions {
    position: relative;
    display: inline;
    font-weight: bold;
    border: 1px solid;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    float: right;
    padding: 2px;
}

.deleteText {
    color: red;
}

.posttext {
    width: 90%;
    word-wrap: break-word;
}

.reply_text {
    width: 100%;
    border-radius: 5px;
}