:root {
    --background-color: #fafafa;
    --link-hover-color: #dfdfdf;
    --text-color: #222222;
    --action-button-color: #3c77d6;
    --action-button-hover: #2269db;
    --action-button-text: #dddddd;
    --border-color: #999999;
}

* {
    /* border: 1px solid; */
}

body {
    background-color: var(--background-color);
}

#keeblerlogo {
    width: 100px;
    vertical-align: middle;
}

.navbarspan {
    vertical-align: middle;
}

#platformname {
    font-size: 28px;
}

#homecorner {
    margin-right: 20px;
}

#header {
    overflow: hidden;
    white-space: nowrap;
    display: inline;
}

.navlink {
    font-size: 18px;
    padding: 3px 10px 3px 10px;
    margin: 0px 15px 0px 15px;
    transition: background-color 0.075s linear;
    border-radius: 40px;
    overflow: hidden;
}

.navlink:hover {
    background-color: var(--link-hover-color)
}

a {
    color: var(--text-color);
    text-decoration: none;
    overflow: hidden;
}

#login, #profile {
    float: right;
    margin-top: 18px;
    margin-right: 30px;
    background-color: var(--action-button-color);
    color: var(--action-button-text);
    border-radius: 40px;
    padding: 13px 15px 13px 15px;
    transition: background-color 0.2s linear;
    display: none;
}

#profile {
    border-radius: 0px;
    padding-bottom: 0px;
}



#profile {
    margin-top: 0px;
    background-color: var(--background-color);
    padding-bottom: 0px;
    line-height: 0px;
}


#logout {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
    padding: 3px 10px 3px 10px;
    margin: 30px 15px 0px 15px;
    float: right;
    border-color: var(--action-button-color);
}


#menu {
    display: inline;
    float: right;
    padding-top: 0px;
}

#menuoptions {
    display: none;
    float: right;
    margin-right: 46px;
    border-color: red;
    background-color: var(--link-hover-color);
    box-shadow: 2px 2px 2px 2px var(--link-hover-color), 2px 2px 2px 2px var(--link-hover-color);
    text-align: right;
    padding: 5px;
}

#menu:hover #menuoptions {
    display: inline;
}

#login:hover {
    background-color: var(--action-button-hover)
}

#menuoptions.p {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Helvetica';
}

#headerpfp {
    border: 1px solid transparent;
    border-radius: 5px;
}

.post_button {
    background-color: var(--action-button-color);
    color: var(--action-button-text);
    padding: 10px;
    margin: 5px;
    border-color: var(--action-button-color);
    border-radius: 20px;
    padding: 9px;
    box-shadow: 0px;
    font-size: 1em;
}