#profile_banner {
    display: block;
    margin: auto;
    width: 50%;
}

#profile_username {
    display: inline;
}

#profile_handle {
    padding-left: 10px;
    display: inline;
}

#profile_bio {
    width: 40%;
    /* text-wrap: wrap; */
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    word-break: break-all;
}

#profile_follow, #profile_unfollow {
    vertical-align: top;
    /* margin-bottom: 200px; */
    padding: 10px;
    border-radius: 50px;
    width: 80px;
    border-color: var(--action-button-color);
    display: none;
}

#profile_follow {
    background-color: var(--action-button-color);
    color: var(--action-button-text);
}
#profile_unfollow {
    background-color: var(--background-color);
    color: var(--action-button-color);
    border-width: 2px;
}

#headerpfp {
    border: 1px solid transparent;
    border-radius: 5px;
}

#profile_image {
    border: 1px solid transparent;
    border-radius: 24px;
}